.m-5 {
  margin: 5em;
}
.m-4 {
  margin: 3em;
}
.m-3 {
  margin: 2em;
}
.m-2 {
  margin: 1em;
}
.m-1 {
  margin: .5em;
}
.p-5 {
  padding: 5em;
}
.p-4 {
  padding: 3em;
}
.p-3 {
  padding: 2em;
}
.p-2 {
  padding: 1em;
}
.p-1 {
  padding: .5em;
}